# Dependencias
node_modules/
.pnp
.pnp.js

# Producción / Build
dist/
build/
.output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de Entorno (IMPORTANTE: Seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDE / Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema / Temporales
Thumb.db
.DS_Store
*.tmp
*.bak

# Archivo conflictivo específico en tu sistema (Reserva de Windows)
nul
